*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(211, 209, 161);
}
.nav{
    display: flex;
    height: 200px;
    background-color: white;
}
.logo{
    padding-top: 5px;
    height: 30px;
    width: 30px;
}
.searchbar{
    margin-top: 7px;
    height: 30px;
    width: 100px;
    background-color: rgb(138, 138, 234);
}
