*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
body{
    color:#ededed; 
    background-color: rgb(6, 32, 44);
}
.header{
    display: flex;
    margin:20px;
    justify-content: space-between;
}
@media(max-width:768px){
    .header{
        flex-direction: column;
    } 
}
.logo{
    align-items: flex-start;
    display: block;
    text-decoration: none;
    font-size: larger;
    font-size: 35px;
    font-weight: bold;
    
}
.navbar{
    display:flex;
    text-align: end;
    align-items: end;
    position: relative;
    top:5px;
    font-size: 16px;
    font-weight: large;
    align-content: space-around;
}
a{
    text-decoration: none;
    color: rgb(203, 251, 246);
    padding: 10px 0px 0px 20px;
    text-shadow: 2px 2px 30px ;
    margin-right: 10px;
    align-content: center;margin-bottom: 30px;
    font-size: large;
}
.item:hover{
    text-decoration: underline;
    animation-name:nav;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
@keyframes nav{
    from{
        font-size: 20px;
    }
    to{
        font-size:21px;
    }
}

.main{
    display: flex;
    margin-top:150px;
    justify-content: space-between;
}
.content1{
    height: 400px;
    width:600px;
    margin-left:30px;
    /* margin-top:200px; */
    align-content: center;
    -ms-flex-item-align: center;
    max-width: 600px;
    max-height: 300px;
}
h3{
    font-size: 23px;
    font-weight: 300;
}
.span-txt{
    animation: slideright 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.span-txt:hover{
    text-shadow: 10px 10px 40px aqua;
}
@keyframes slideright {
    from{
        transform: translateX(-100px);
        opacity: 0.5;
    }
    to{
        transform: translateX(1px);
        opacity: 1;
    }
}

h1{
    font-size: 40px;
}
.myself{
    font-weight: 300;
    font-size: 15px;
    
}
.Logos{
    display: flex;
}
.icon{
    height: 50px;
    width: 50px;
    border: 3px solid rgb(159, 236, 236);
    margin:10px;
    padding-top: 7px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: rgb(123, 123, 200);
    
}
.Insta{
    color: aqua;
}
.telelogo{
    height: 35px;
    width: 35px;
}
.wplogo{
    height: 30px;
    width: 47px;
}
.instlogo{
    height: 35px;
    width: 35px;
}
.linkedin{
    height: 35px;
    width: 35px;
}
.icon:hover{
    box-shadow: 5px 5px 30px aqua;
    transform: translateY(-5px);
}
.content2{
    float: end;
    height: 360px;
    width: 340px;
    box-shadow: 5px 5px 60px aqua;
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: 180px;
    border-style: insert;
    padding: 10px;
}
.myimg{
    height:360Px;
    width: 340px;
    animation-name:mypic;
    border-radius: 50%;
    border:2px solid white;
}
.myimg:hover{
    box-shadow: 10px 10px 100px rgb(63, 80, 212);
    border-style: insert;
    border-radius: 50%;
}

.btn{
    height: 50px;
    width:200px;
    background-color: rgb(203, 251, 246);
    border: none;
    font-size: large;
    font-weight: bold;
    margin-top: 30px;  
}
.more{
    color: black;
}

.btn:hover{
    box-shadow: 5px 5px 30px aqua;
}




/* ********************In About Context ************************************/
.about{
    margin-top: 150px;
    display: flex;
    justify-content: flex-start;
}
.about-img{
    -ms-flex-align: start;
    height: 360px;
    width: 340px;
    box-shadow: 5px 5px 60px rgb(229, 130, 239);
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: 180px;
    border-style: insert;
    padding: 10px;
    float: left;
    margin-left: 100px;
    margin-bottom: 100px;

}
.about-myimg{
    height:360Px;
    width: 340px;
    animation-name:mypic;
    border-radius: 50%;
    border:2px solid white;
}
.about-img:hover{
    box-shadow: 5px 5px 100px rgb(228, 123, 207),
    5px 5px 20px rgb(124, 38, 18);
}
.about-para{
    font-weight:400;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-right: 50px;

    line-height: 20px;
}





/*************************My Services******************************/



.skills{
    margin-top: 100px;
    text-align: center;
}

.skill-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-evenly;
    margin-top:30px;
}
.sk{
    width: 260px;
    height: 280px;
    background-color:transparent;
    text-align: start;
    padding: 20px;
    border-right: 1px solid aqua;
    border-bottom: 1px solid aqua;
    border-style: ridge;
    box-shadow: 1px 1px 20px rgb(8, 108, 108),
    1px 1px 20px rgb(11, 49, 144);
    margin: 20px;
    border-radius: 20%;
}
.skpara{
    font-size:14px;
    font-weight: 500;
    font-style: normal;
    -webkit-text-size-adjust: auto;

}
.sk:hover{
    /* width: 270px;
    height: 290px; */
    transform: translateY(-10px);
    box-shadow: 2px 2px 20px rgb(41, 207, 207),
    2px 2px 20px rgb(25, 25, 174);

}
.skbtn{
    background-color: aqua;
    font-size: 15px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 20px;

}


/***********************************MY Skills**********************/


.techsk{
    margin-top: 100px;
    text-align: center;
    background-color:transparent;
}
.techsk-HTML{
    margin-top: 50px;
}
.HTML-contanier{
    display: flex;
    justify-content: center;
    width: 550px;
    margin-left: 500px;
}
.html-line{
    height: 5px;
    width: 100%;
    background-color: rgb(8, 8, 8);
    margin-top:20px;
    margin-left: 50px;
    border-radius: 10px;
}
@keyframes animate-html{
    0%{
        width: 0%;
        box-shadow: 5px 5px 10px rgb(65, 200, 215);

    }
    100%{
        width: 90%;
        box-shadow: 5px 5px 80px rgb(45, 190, 198);
    }
}
.html-inner-line{
    height: 5px;
    width: 90%;
    background-color: aqua;
    border-radius: 10px;
    animation:animate-html;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
}
.css-line{
    height: 5px;
    width: 100%;
    background-color: rgb(8, 8, 8);
    margin-top:20px;
    margin-left: 60px;
    border-radius: 10px;

}
.css-inner-line{
    height: 5px;
    width: 80%;
    background-color: aqua;
    border-radius: 10px;
    animation:animate-css;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
}
@keyframes animate-css{
    0%{
        width: 0%;
        box-shadow: 5px 5px 10px rgb(65, 200, 215);

    }
    100%{
        width: 80%;
        stroke-dashoffset: -1;
        box-shadow: 5px 5px 80px rgb(105, 217, 222);
    }
}
.java-line{
    height: 5px;
    width: 100%;
    background-color: rgb(8, 8, 8);
    margin-top:20px;
    margin-left: 50px;
    border-radius: 10px;
}
.java-inner-line{
    height: 5px;
    width: 90%;
    background-color: aqua;
    border-radius: 10px;
    animation:animate-java;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
}
@keyframes animate-java{
    0%{
        width: 0%;
        box-shadow: 5px 5px 10px rgb(65, 200, 215);

    }
    100%{
        width: 90%;
        box-shadow: 5px 5px 80px rgb(105, 217, 222);
    }
}
.flutter-line{
    height: 5px;
    width: 100%;
    background-color: rgb(8, 8, 8);
    margin-top:20px;
    margin-left: 43px;
    border-radius: 10px;
}
.flutter-inner-line{
    height: 5px;
    width: 70%;
    background-color: aqua;
    border-radius: 10px;
    animation:animate-flutter;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
}
@keyframes animate-flutter {
    0%{
        width: 0%;
        box-shadow: 5px 5px 10px rgb(65, 200, 215);

    }
    100%{
        width: 70%;
        box-shadow: 5px 5px 80px rgb(105, 217, 222);
    }
}
.dart-line{
    height: 5px;
    width: 100%;
    background-color: rgb(8, 8, 8);
    margin-top:20px;
    margin-left: 60px;
    border-radius: 10px;
}
.dart-inner-line{
    height: 5px;
    width: 65%;
    background-color: aqua;
    border-radius: 10px;
    animation:animate-dart;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
}
@keyframes animate-dart{
    0%{
        width: 0%;
        box-shadow: 5px 5px 10px rgb(65, 200, 215);

    }
    100%{
        width: 65%;
        box-shadow: 5px 5px 80px rgb(105, 217, 222);
    }
}


/**************************Professional Skilss***************************/
.professional{
    margin-top: 100px;
    text-align: center;
}
.progress-bar{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    justify-content: center;
    margin-right: 350px;
}
.cretext{
    margin-bottom: 20px;
}
.div1{
    height: 200px;
    width: 200px;
    align-items: center;
    width: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.outercre{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    background: conic-gradient(rgb(238, 66, 135) 100deg, rgb(26, 92, 162) 0deg);
    box-shadow: 2px 2px 10px   rgb(225, 139, 180),
                -2px -2px 10px rgb(139, 231, 241);
}
.creativity{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content:center ;
    border-radius: 50%;
    box-shadow: inherit 2px 2px 10px red,
                inherit -2px -2px 10px blue;
    background-color:transparent;
}
.percent-cre{
    font-weight: 600px;
    color: white;
}

/* <<<<<<<<<<< 1 end >>>>>>>>>>>>>> */


.comtext{
    margin-bottom: 20px;
}
.div2{
    height: 200px;
    width: 200px;
    align-items: center;
    width: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.outercom{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    background: conic-gradient(rgb(42, 116, 159) 120deg, rgb(60, 215, 215) 0deg);
    box-shadow: 2px 2px 10px   rgb(225, 139, 180),
                -2px -2px 10px rgb(139, 231, 241);
}
.communication{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content:center ;
    border-radius: 50%;
    box-shadow: inherit 2px 2px 10px red,
                inherit -2px -2px 10px blue;
    background-color:transparent;
}
.percent-comm{
    font-weight: bold;
    color: white;
    font-size: 20pxn ;

}


.div3{
    height: 200px;
    width: 200px;
    align-items: center;
    width: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.outerpro{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    background: conic-gradient(rgb(238, 66, 135) 100deg, rgb(26, 92, 162) 0deg);
    box-shadow: 2px 2px 10px   rgb(225, 139, 180),
                -2px -2px 10px rgb(139, 231, 241);
}
.problem-sol{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content:center ;
    border-radius: 50%;
    box-shadow: inherit 2px 2px 10px red,
                inherit -2px -2px 10px blue;
    background-color:transparent;
}
.percent-pro{
    font-weight: 600px;
    color: white;
}
.protext{
    margin-bottom: 20px;
}




.div4{
    height: 200px;
    width: 200px;
    align-items: center;
    width: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.outerteam{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    background: conic-gradient(rgb(238, 66, 135) 100deg, rgb(26, 92, 162) 0deg);
    box-shadow: 2px 2px 10px   rgb(225, 139, 180),
                -2px -2px 10px rgb(139, 231, 241);
}
.team-man{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content:center ;
    border-radius: 50%;
    box-shadow: inherit 2px 2px 10px red,
                inherit -2px -2px 10px blue;
    background-color:transparent;
}
.percent-team{
    font-weight: 600px;
    color: white;
}
.teamtext{
    margin-bottom: 20px;
}





